
h1 {
  color: red;
  font-family: Helvetica;
  padding: 1em;
  text-align: justify;
  
  @media (max-width: 250px) {
    font-size: 14vw;
  }
}

h4 {
 color: red;
  font-family: Helvetica;
 padding: 1em;
  text-align: justify;
}
p {
 font-family: Helvetica; 
}

a {
  color: black;
  text-decoration: underline;
  
  &:hover {
    opacity: .6;
  }
}

