
h1 {
  color: red;
  font-family: Helvetica;
  padding: 1em;
  text-align: justify;
}

h4 {
 color: red;
  font-family: Helvetica;
 padding: 1em;
  text-align: justify;
}
p {
 font-family: Helvetica; 
}

a {
  color: black;
  text-decoration: underline;
  
  &:hover {
    opacity: .6;
  }
}

